/* INDEX CSS */
/* BASE CSS */
/* ROOT*/
:root{
    --background: #fff;
    --foreground: #6e07f3;
    --primary: #141c3a;
    --primary-light: #cdd3eb;
    --primary-foreground: #fff;
    --secondary: #5be8b9;
    --secondary-foreground: #141c3a;
}

/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}
/* HTML*/
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
/*  BODY*/
body{
    font-size: 1rem;
}
/* CONTAINER */
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
/* BUTTON */
.btn{
    display: inline-block;
    border: .2rem solid var(--foreground);
    color: var(--foreground);
    border-radius: 1.5rem;
    padding: .8rem 1.5rem;
    transition: all .2s ease;
}
.btn:hover{
    background-color: var(--foreground);
    color: var(--primary-foreground);
}
/* COLLAB */
.collab{
    background-color: var(--foreground);
    color: var(--primary-foreground);
    text-align: center;
    padding: 8rem 2rem;

}
.collab-title{
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;

}
.collab-subtitle{
    font-size: 1.7rem;
    line-height: 2.2rem;
    margin-bottom: 3rem;

}
.collab .btn{
    text-decoration: none;
    border-color: var(--background);
    color: var(--background);
    font-size: 2rem;
    transition: all ease .5s;

}
.collab .btn:hover{
    background-color: var(--background);
    color: var(--foreground);
}

/* CTA */
.cta{
    background-color: var(--foreground);

}
.cta .overlay{
    background-color: var(--background);
    height: 6rem;
}
.cta .container{
    margin-top: -6rem;
}
.cta-area{
    margin: 0 2rem;
    padding: 4rem;
    background-color: var(--primary);
    color: var(--primary-foreground);
    border-radius: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 4rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);

}
.cta-area-side{
    flex: 1;    
}
.cta-area-side--title{
    font-weight: bold;
    font-size: 3rem;
}
.cta-area-side--subtitle{
    font-size: 1.8rem;
    line-height: 2.5rem;

}
.cta-area-side .btn{
    font-size: 2rem;
    text-decoration: none;   
    color: var(--background);
}

/* FOOTER */
footer{
    background-color: var(--foreground);
    color: var(--primary-light);
    padding: 6rem 2rem;
    text-align: center;
}
.footer-logo{
    width: 4rem;
    height: auto;
    margin-bottom: 4rem;
}
.footer-title{
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 4rem;
}
.footer-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 40rem;
    margin: auto;
    margin-bottom: 4rem;
}
.footer-social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid var(--primary-light);
    transition: all ease .5s;
}
.footer-social a img{
    width: 2rem;
    height: 2rem;
    transition: all ease .5s;
    
}
.footer-social a:hover img{
    transform: scale(1.2);
    color: var(--primary);

}
.footer-copyright{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.footer-legal{
    font-size: 1.5rem;
    
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* NAVBAR */
.navbar{
    flex: 1;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;   
}
/* LOGO */
.logo img{
    width: 3.2rem;
    height: 3.2rem;
}
/* MENU-OPENER */
.menu-opener{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
}
.menu-opener i:hover{
    cursor: pointer;
    color: var(--primary);
}
/* HEADER NAV */
header nav{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
header nav a{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--primary);
}
header nav.opened{
    display: flex;
    height: max-content;
    transition: all .5s ease-in-out;
}

/* HERO */
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 1rem 0 1rem;
}
.hero-title{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;

}
.hero-subtitle{
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 3rem;

}
.hero-avatar{
    display: block;
    width: 12rem;
    height: auto;
    margin-bottom: 5rem;

}
.hero-devices{
    display: block;
    width: 100%;
    max-width: 80rem;
    height: auto;
}

/* INTRO */
.intro{
    background-color: var(--foreground);
    color: var(--primary-foreground);
    padding: 5rem 0;
    text-align: center;
}
.box{
    max-width: 60rem;
    margin: auto;
    padding: 2rem;   
}
.box-title{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;

}
.box-subtitle{
    font-size: 1.8rem;
    line-height: 3rem;

}

/* RECENT-WORK  */
.recent-work{
    text-align: center;
    color: var(--primary);
    padding: 0 2rem;
}
.recent-work-title{
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 8rem;
    margin-bottom: 3.5rem;

}
.recent-work-subtitle{
    font-size: 2rem;
    line-height: 3rem;

}
.recent-work-subtitle a{
    text-decoration: none;
    color: var(--foreground);
    transition: all ease .3s;
}
.recent-work-subtitle a:hover{
    text-decoration: underline;

}
.recent-work-grid{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

/* estilo do grid-item */
.recent-work-grid--item{
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
    cursor: pointer;
}
.recent-work-grid--item .image{
    width: 100%;
    height: auto;
    transition: all ease .5s;

}
.recent-work-grid--item .overlay{
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--primary-foreground);
    padding: 2rem;
    font-size: 1.9rem;
    line-height: 2.5rem;
    transition: all ease .5s;
    opacity: 0;

}
.recent-work-grid--item .overlay .btn{
    margin-top: 2rem;
    text-decoration: none;
    color: var(--primary-foreground);
}
.recent-work-grid--item:hover .image{
    transform: scale(1.2);
}
.recent-work-grid--item:hover .overlay{
    opacity: 1;
}
.recent-work .seemore{
    text-decoration: none;
    margin: 6rem 0;
    font-size: 2rem;

}
/* SKILS */
.skils-overlay{
    background-color: var(--foreground);
    height: 10rem;
}
.skils .container{
    margin-top: -10rem;
}
.grid{
    background-color: var(--background);
    margin: 0 2rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 3px 5px var(--primary-light);
}
.skil{
    text-align: center;
    border-right: 0;
    border-bottom: 1px solid var(--primary-light);
    color: var(--primary);
    padding: 5rem 2rem;
}
.skil:last-child{
    border-bottom: 0;
    border-right: 0;
}


/* SKIL ITEM */
.skil-icon{
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    margin: auto;

}
.skil-icon img{
    width: 4rem;
    height: 4rem;

}
.skil-title{
    font-weight: bold;
    font-size: 2rem;
    margin: 3rem 0;

}
.skil-desc{
    font-size: 1.7rem;
    line-height: 2.5rem;

}
.skil-subtitle{
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: var(--foreground);

}
.skil-txt{
    font-size: 1.7rem;
    line-height: 2.5rem;

}

/* TESTIMONIALS */
.testimonials{
    padding: 8rem 2rem;
    text-align: center;
    color: var(--primary);

}
.testimonials-title{
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 3rem;

}
.testimonials-subtitle{
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 4rem;

}
.testimonials-slider{
    max-width: 50rem;
    overflow-x: hidden;
    margin: auto;
}
.testimonials-slider input{
    display: none;
}
.testimonials-slider-area{
    width: 200%;
    display: flex;
    transition: all ease .5s;
}
.slider-item{
    width: 100%;
}
.slider-item img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 4rem;
}
.slider-item-desc{
    font-size: 2rem;
    line-height: 3.3rem;
    margin-bottom: 4rem;
}
.slider-item-name{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.slider-item-role{
    font-size: 1.7rem;

}
.testimonials-slider-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}
.testimonials-slider-nav label{
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--primary);
    transition: all ease .5s;

}
#slider-1:checked ~ .testimonials-slider-area{
    margin-left: 0%;

}
#slider-2:checked ~ .testimonials-slider-area{
    margin-left: -100%;

}
#slider-1:checked ~ .testimonials-slider-nav .n1{
    background-color: var(--foreground);

}
#slider-2:checked ~ .testimonials-slider-nav .n2{
    background-color: var(--foreground);

}

/* WORKED-WITH */
.worked-with{
    border-top: 1px solid var(--primary-light);
    padding: 8rem 2rem;
    text-align: center;
    color: var(--primary);    
}
.worked-with-title{
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
}
.worked-with-grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.worked-with-grid img{
    width: 100%;
}

@media (width > 600px){
    collab-title{
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .collab-subtitle{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .box-title{
        font-size: 3rem;
    } 
    .recent-work-title{
        font-size: 3.5rem;
    }
    .recent-work-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .skil{
        border-bottom: 0;
        border-right: 1px solid var(--primary-light);
    }
    .worked-with-title{
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .worked-with-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .hero-title{
        font-size: 4rem;

    }
    .hero-subtitle{
        font-size: 2rem;
    }
    .hero-avatar{
        width: 20rem;
    }
    header{
        flex-direction: row;
    }
    .menu-opener{
        display: none;
    }
    header nav{
        display: flex;
        flex-direction: row;
    }

}
@media (width > 900px){
    .cta-area{
        flex-direction: row;
    }
    .recent-work-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .worked-with-grid{
        grid-template-columns: repeat(4, 1fr);
    }

}